/*
 ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄ 
▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌
▐░█▀▀▀▀▀▀▀█░▌▐░█▀▀▀▀▀▀▀▀▀ ▐░█▀▀▀▀▀▀▀▀▀ ▐░█▀▀▀▀▀▀▀▀▀  ▀▀▀▀█░█▀▀▀▀ 
▐░▌       ▐░▌▐░▌          ▐░▌          ▐░▌               ▐░▌     
▐░█▄▄▄▄▄▄▄█░▌▐░█▄▄▄▄▄▄▄▄▄ ▐░█▄▄▄▄▄▄▄▄▄ ▐░█▄▄▄▄▄▄▄▄▄      ▐░▌     
▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌     ▐░▌     
▐░█▀▀▀▀█░█▀▀ ▐░█▀▀▀▀▀▀▀▀▀  ▀▀▀▀▀▀▀▀▀█░▌▐░█▀▀▀▀▀▀▀▀▀      ▐░▌     
▐░▌     ▐░▌  ▐░▌                    ▐░▌▐░▌               ▐░▌     
▐░▌      ▐░▌ ▐░█▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄█░▌▐░█▄▄▄▄▄▄▄▄▄      ▐░▌     
▐░▌       ▐░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌     ▐░▌     
 ▀         ▀  ▀▀▀▀▀▀▀▀▀▀▀  ▀▀▀▀▀▀▀▀▀▀▀  ▀▀▀▀▀▀▀▀▀▀▀       ▀      
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*====================================================*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: #101010;
  margin: 0;
  padding: 0;
}

a:link, a:visited {
  text-decoration: none;
  color: #101010;
}

a:hover {
  color: #a1a1a1;
}

/* Layout */
section {
  padding: 40px 0;
}

nav {
  width: 100%;
  position: fixed;
  background: white;
  display: flex;
  padding: 20px 20px;
  gap: 40px;
  box-sizing: border-box;
}

.content-wrapper {
  margin: 0 20px;
}

/* Grid Layout */
.offset-col-6 {
  display: inline-block;
  grid-column-start: 7;
  grid-column-end: 13;
}

.col-6 {
  display: inline-block;
}

.col-6.start {
  grid-column-start: 1;
  grid-column-end: 7;
}

.col-6.end {
  grid-column-start: 7;
  grid-column-end: 13;
}

.col-6.start + .col-6.end {
  margin-top: 40px;
}

/* Utilities */
.black {
  background: #0a0a0a;
  color: #eaeaea;
}

.gray {
  background: #f5f5f5;
}

.logo {
  height: 40px;
}

/* Design */
nav h1 {
  font-size: 1em;
  width: 50%;
  font-weight: normal;
}

nav h2 {
  font-size: 1em;
  width: 50%;
  font-weight: normal;
}

/* Type */
h3 {
  font-weight: bold;
}

p, li {
  line-height: 1.5;
}

h3 + p,
p + p {
  margin-top: 1em;
}

p + h3 {
  margin-top: 3em;
}

#intro ul {
  list-style: none;
  list-style-position: initial;
  margin: 0;
  padding: 0;
  font-size: 10vw;
  margin-top: 40vh;
}

#intro li {
  margin-top: 4px;
  line-height: 1;
}

.gallery {
  padding: 40px 0;
  grid-column-start: 1;
  grid-column-end: 13;
}

.gallery.one img,
.gallery.two img {
  width: 100%;
}

.gallery img:last-child {
  margin-top: 40px;
}

.data-set {
  margin-top: 2em;
  display: flex;
  gap: 20px;
}

.data-set li {
  display: inline-block;
  flex: 1;
}

.data-set .data-value {
  font-size: 10vw;
}

.data-set .label {
  font-size: 1em;
  display: block;
}

#background h2 {
  margin-bottom: 4em;
}

#background p {
  color: #656565;
}

#background h3 {
  line-height: 1.25;
  font-weight: normal;
}

footer {
  padding: 20px;
}

#achievements,
#background {
  scroll-margin-top: 56px;
}

@media screen and (min-width:768px) {
  .data-set .data-value {
    font-size: 4em;
  }
}

@media screen and (min-width:1024px) {
  .content-wrapper {
    margin: 0 40px;
  }

  section {
    padding: 80px 0;
  }

  .grid {
    display: grid;
    margin: 0 40px;
    column-gap: 40px;
    grid-template-columns: repeat(12, 1fr);
  }

  .col-6.start + .col-6.end {
    margin-top: 0
  }

  .gallery {
    padding: 80px 0;
  }
  
  .gallery.two {
    display: flex;
    gap: 40px;
  }

  .gallery.two img {
    width: calc(50% - 20px);
    display: inline-block;
  }

  .gallery img:last-child {
    margin-top: 0;
  }
  
  #intro ul {
    font-size: 5vw;
  }
}

@media screen and (min-width:1280px) {
  .data-set .data-value {
    font-size: 6em;
  }
}